---
import { Image } from "astro:assets";
import GithubIcon from "./icons/GithubIcon.astro";

const { img, title, description, link, github } = Astro.props;
---

<div class="group relative bg-gray-800 p-6">
  <div>
    <figure class="inline-flex">
      <Image
        width={300}
        height={150}
        src={img}
        alt={title}
        class="rounded-[5px]"
      />
    </figure>
  </div>
  <div class="mt-4">
    <h3 class="flex items-center text-2xl font-semibold leading-6 text-white">
      <a href={link} class="mr-4 focus:outline-none" target="_blank">
        <span class="absolute inset-0" aria-hidden="true"></span>
        {title}
      </a>
      <a
        class="z-10 hover:scale-110 transition-all"
        href={github}
        target="_blank"
        aria-label="Github link"
      >
        <GithubIcon color="#FBBC04" />
      </a>
    </h3>
    <p class="mt-4 text-md text-gray-500">
      {description}
    </p>
    <figure
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
        <path
          d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z"
        ></path>
      </svg>
    </figure>
  </div>
</div>
